@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v19/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.main_page {
  width: 100%;
  display: block;
  min-height: 75vh;
  padding: 0 0px 0 0;
  font-family: 'Exo 2', 'Arial';
}
.wrapper {
  display: flex;
  margin-bottom: 15vh;
}
.container1 {
  width: 25%;
  display: block;
  align-items: center;
  margin-left: 5%;
  padding-right: 7%;
}
.container2 {
  width: 50%;
  align-items: center;
}
.container3 {
  width: 25%;
  align-items: center;
  margin-right: 2%;
  padding-left: 2%;
}
.filter__status {
  margin-bottom: 10%;
}
.filter__roles {
  margin-bottom: 10%;
}
.filter__balance {
  margin-bottom: 10%;
}
.status__checkbox {
  display: block;
  margin-top: 5%;
}
.check1 {
  display: flex;
}
.check2 {
  display: flex;
}
.check3 {
  display: flex;
}
.checkbox {
  margin-right: 10%;
}
.min_max {
  display: flex;
  margin-top: 5%;
}
.input12 {
  display: block;
  width: 50%;
}
.filter__button {
  display: flex;
}
.form {
  background-color: #6c7175;
  border-radius: 5%;
  padding: 10%;
}
.title {
  left: 19%;
  margin-top: 9vh;
  margin-left: 19%;
  margin-bottom: 5vh;
  color: #000000;
  font-size: 40px;
  font-family: 'Play';
  width: auto;
}
.login {
  margin-bottom: 5%;
}
.password {
  margin-bottom: 5%;
}
.give_roles {
  margin-bottom: 5%;
}
.panel {
  justify-content: center;
}
.number {
  float: left;
  width: 20px;
  margin-top: 0.7%;
  padding-top: 3%;
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  color: 'Exo 2', 'Arial';
  font-weight: 600;
}
.currency__card {
  border-radius: 5%;
  background-color: #394249;
  width: 100%;
  height: 20vh;
}
